@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
   header{
    
    height: 18vh;
    display:flex;
    align-items: center;
    justify-content: flex-end;
   }
   header figure img{
    
    height: 5vh;
  }
  header ul{
    border:solid green 3px;
    width: 20vw;
    list-style: none;
    display:flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  .logoNav{
    border:solid black 3px;
  }
   
h2{
  color: #FFFFFF;
  width: 34vw;
  height: 10vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;

}

    h1{
    
    width: 73vw;
    height: 20vh;
    font-size: 50px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}
main section {
  
  height: 100vh;
  background-image:url(./Assets/laranja\ azul\ recorte.png);
  background-size: cover;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: center;


 

}
    